body{
    width: 1500px;
}
nav{
    a{
        margin:0px 100px;
        color:blue;
    }
    .active{
        color: red;
    }
}
.login-lch{
    label{
        display: flex;
        justify-content: space-between;
        margin: 50px 0;
        button{
            width: 100%;
        }
    }
}