.label{
    display: flex;
    margin: 20px 0;
    span{
        font-size: 20px;
        line-height: 32px;
        padding: 5px 0;
    }
    .span-red{
        color:red;
    }
    .span-error{
        background: #CCCCCC url("./img/error.gif")no-repeat;
        background-position: 5px;
        padding-left: 40px;
        padding-right: 10px;
        color: black;
    }
    .span-righta{
        background: #CCCCCC url("./img/righta.gif")no-repeat;
        background-position: 5px;
        padding-left: 40px;
        padding-right: 10px;
        color: black;
    }
}