.nav-link{
    // 一级导航
    font-size: 30px;
    .n-l-one{
        a{
            color: black;
            text-decoration: none;
        }
        // 二级导航
        .n-l-two{
            display: none;
            border: 1px solid red;
            margin: 5px;
        }
        // 当一级导航鼠标悬浮,二级显示
        .nav-item{
            margin-right: 150px;
            display: block;
        }
        >.nav-item:hover{
            .n-l-two{
                display: block;
                .nav-item{
                    border: 1px solid red;
                }
            }
        }
    }
        
    // 默认高亮
    .active{
        color: red;
    }
}